@model IEnumerable<SamplWebApp.Models.Person>
@*passing list of person*@

@{
    ViewData["Title"] = "peoplelist";
}

<h1>peoplelist</h1>

<p>
    <a asp-action="Create">Create New</a>
    @Html.ActionLink("Search-Age-Range","GetPeopleWithAge",new{startage=18,endage=98})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aadhar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aadhar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "GetPersonDetails", new {pAadhar=item.Aadhar }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
              

            </td>
        </tr>
}
    </tbody>
</table>
